body {
    font-family: 'Microsoft YaHei';
    font-size: 16px;
    font-weight: normal;
    background-color: #ccc;
    padding-top: 0;
}

.media-object {
    width: 20vw;
}

.media-left {
    width: 20%;
    display: inline-block;
}

.media-body {
    padding-top: 3%;
    padding-left: 5%;
    width: 70%;
    display: inline-block;
}

.col-xs-12 {
    background-color: white;
    margin-bottom: 5%;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
}

.touxiag {
    padding-top: 5vw;
}

.media {
    margin-top: 5vw;
    margin-bottom: 5vw;
    margin-left: 5vw;
    margin-right: 5vw;
}

span {
    font-weight: 500;
    color: #ccc;
}

h4 {
    font-weight: 900;
}

.list-group {
    margin-bottom: 0;
}

.list-group-item {
    padding-top: 5vw;
    padding-bottom: 5vw;
}

    .list-group-item span {
        margin-right: 3vw;
    }
