
@{
    Layout = "~/Views/Shared/_LayoutQiye.cshtml";
}
@section styles{
    <link href="~/Styles/rest.css" rel="stylesheet" />
    <link href="~/Styles/history.css" rel="stylesheet" />
    }
<div id="content">
    <div id="leftTabBox" class="tabBox">
        <div class="hd">
            <ul>
                <li><a href="#">已提交</a></li>
                <li><a href="#">已受理</a></li>
                <li><a href="#">已完成</a></li>
                <li><a href="#">已取消</a></li>
                <li><a href="#">已取消</a></li>
            </ul>
        </div>
        <div class="bd">
            <ul class="Padding" id="one">
                <li>
                    <div class="content-title-t">
                        <!-- <div class="pull-left logo"></div> -->
                        <div class="pull-left w8">
                            <p class="wr-content">人人趣学是以艺体教育为核心的综合在线教育平台</p>
                        </div>
                        <div class="pull-right w2">
                            <div class="img"></div>
                        </div>
                    </div>
                    <div class="content-title-b">
                        <ins class="check check1 pull-left">已提交</ins>
                        <span class="time pull-right">2015-12-28<span>
                    </div>
                </li>
                <li id="22">
                    <div class="content-title-t">
                        <!-- <div class="pull-left logo"></div> -->
                        <div class="pull-left w8">
                            <p class="wr-content">22趣学是以艺体教育为核心的综合在线教育平台</p>
                        </div>
                        <div class="pull-right w2">
                            <div class="img"></div>
                        </div>
                    </div>
                    <div class="content-title-b">
                        <ins class="check check2 pull-left">已受理</ins>
                        <span class="time pull-right">2015-12-28<span>
                    </div>
                </li>
                <li>
                    <div class="content-title-t">
                        <!-- <div class="pull-left logo"></div> -->
                        <div class="pull-left w8">
                            <p class="wr-content">人人趣学是以艺体教育为核心的综合在线教育平台</p>
                        </div>
                        <div class="pull-right w2">
                            <div class="img"></div>
                        </div>
                    </div>
                    <div class="content-title-b">
                        <ins class="check check1 pull-left">已提交</ins>
                        <span class="time pull-right">2015-12-28<span>
                    </div>
                </li>
                <li>
                    <div class="content-title-t">
                        <!-- <div class="pull-left logo"></div> -->
                        <div class="pull-left w8">
                            <p class="wr-content">人人趣学是以艺体教育为核心的综合在线教育平台</p>
                        </div>
                        <div class="pull-right w2">
                            <div class="img"></div>
                        </div>
                    </div>
                    <div class="content-title-b">
                        <ins class="check check2 pull-left">已受理</ins>
                        <span class="time pull-right">2015-12-28<span>
                    </div>
                </li>
                <li id="11">
                    <div class="content-title-t">
                        <!-- <div class="pull-left logo"></div> -->
                        <div class="pull-left w8">
                            <p class="wr-content">11趣学是以艺体教育为核心的综合在线教育平台</p>
                        </div>
                        <div class="pull-right w2">
                            <div class="img"></div>
                        </div>
                    </div>
                    <div class="content-title-b">
                        <ins class="check check1 pull-left">已提交</ins>
                        <span class="time pull-right">2015-12-28<span>
                    </div>
                </li>
                <li>
                    <div class="content-title-t">
                        <!-- <div class="pull-left logo"></div> -->
                        <div class="pull-left w8">
                            <p class="wr-content">人人趣学是以艺体教育为核心的综合在线教育平台</p>
                        </div>
                        <div class="pull-right w2">
                            <div class="img"></div>
                        </div>
                    </div>
                    <div class="content-title-b">
                        <ins class="check check2 pull-left">已受理</ins>
                        <span class="time pull-right">2015-12-28<span>
                    </div>
                </li>
                <li>
                    <div class="content-title-t">
                        <!-- <div class="pull-left logo"></div> -->
                        <div class="pull-left w8">
                            <p class="wr-content">人人趣学是以艺体教育为核心的综合在线教育平台</p>
                        </div>
                        <div class="pull-right w2">
                            <div class="img"></div>
                        </div>
                    </div>
                    <div class="content-title-b">
                        <ins class="check check1 pull-left">已提交</ins>
                        <span class="time pull-right">2015-12-28<span>
                    </div>
                </li>
                <li id="222">
                    <div class="content-title-t">
                        <!-- <div class="pull-left logo"></div> -->
                        <div class="pull-left w8">
                            <p class="wr-content">人人趣学是以艺体教育为核心的综合在线教育平台</p>
                        </div>
                        <div class="pull-right w2">
                            <div class="img"></div>
                        </div>
                    </div>
                    <div class="content-title-b">
                        <ins class="check check2 pull-left">已受理</ins>
                        <span class="time pull-right">2015-12-28<span>
                    </div>
                </li>
            </ul>
            <ul class="Padding" id="two" style="overflow:hidden;">
                <li>
                    <div class="content-title-t">
                        <!-- <div class="pull-left logo"></div> -->
                        <div class="pull-left w8">
                            <p class="wr-content">人人趣学是以艺体教育为核心的综合在线教育平台</p>
                        </div>
                        <div class="pull-right w2">
                            <div class="img"></div>
                        </div>
                    </div>
                    <div class="content-title-b">
                        <ins class="check check3 pull-left">处理中</ins>
                        <span class="time pull-right">2015-12-28<span>
                    </div>
                </li>
                <li>
                    <div class="content-title-t">
                        <!-- <div class="pull-left logo"></div> -->
                        <div class="pull-left w8">
                            <p class="wr-content">人人趣学是以艺体教育为核心的综合在线教育平台</p>
                        </div>
                        <div class="pull-right w2">
                            <div class="img"></div>
                        </div>
                    </div>
                    <div class="content-title-b">
                        <ins class="check check4 pull-left">已完成</ins>
                        <span class="time pull-right">2015-12-28<span>
                    </div>
                </li>
            </ul>
            <ul class="Padding" id="three" style="overflow: hidden;">
                <li>
                    <div class="content-title-t">
                        <!-- <div class="pull-left logo"></div> -->
                        <div class="pull-left w8">
                            <p class="wr-content">jfajjdjsljsjjj是以艺体教育为核心的综合在线教育平台</p>
                        </div>
                        <div class="pull-right w2">
                            <div class="img"></div>
                        </div>
                    </div>
                    <div class="content-title-b">
                        <ins class="check check3 pull-left">处理中</ins>
                        <span class="time pull-right">2015-12-28<span>
                    </div>
                </li>
                <li>
                    <div class="content-title-t">
                        <!-- <div class="pull-left logo"></div> -->
                        <div class="pull-left w8">
                            <p class="wr-content">人人趣学是以艺体教育为核心的综合在线教育平台</p>
                        </div>
                        <div class="pull-right w2">
                            <div class="img"></div>
                        </div>
                    </div>
                    <div class="content-title-b">
                        <ins class="check check4 pull-left">已完成</ins>
                        <span class="time pull-right">2015-12-28<span>
                    </div>
                </li>
                <li>
                    <div class="content-title-t">
                        <!-- <div class="pull-left logo"></div> -->
                        <div class="pull-left w8">
                            <p class="wr-content">jfajjdjsljsjjj是以艺体教育为核心的综合在线教育平台</p>
                        </div>
                        <div class="pull-right w2">
                            <div class="img"></div>
                        </div>
                    </div>
                    <div class="content-title-b">
                        <ins class="check check3 pull-left">处理中</ins>
                        <span class="time pull-right">2015-12-28<span>
                    </div>
                </li>
            </ul>
            <ul class="Padding" id="three" style="overflow: hidden;">
               
                <li>
                    <div class="content-title-t">
                        <!-- <div class="pull-left logo"></div> -->
                        <div class="pull-left w8">
                            <p class="wr-content">人人趣学是以艺体教育为核心的综合在线教育平台</p>
                        </div>
                        <div class="pull-right w2">
                            <div class="img"></div>
                        </div>
                    </div>
                    <div class="content-title-b">
                        <ins class="check check5 pull-left">已取消</ins>
                        <span class="time pull-right">2015-12-28<span>
                    </div>
                </li>
                <li>
                    <div class="content-title-t">
                        <!-- <div class="pull-left logo"></div> -->
                        <div class="pull-left w8">
                            <p class="wr-content">jfajjdjsljsjjj是以艺体教育为核心的综合在线教育平台</p>
                        </div>
                        <div class="pull-right w2">
                            <div class="img"></div>
                        </div>
                    </div>
                    <div class="content-title-b">
                        <ins class="check check5 pull-left">已取消</ins>
                        <span class="time pull-right">2015-12-28<span>
                    </div>
                </li>
            </ul>
        </div>
    </div>


    @section scripts{
        <script src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
        <script src="~/Scripts/TouchSlide.1.1.js"></script>
        <script src="~/Scripts/zepto.min.js"></script>
        <script src="~/Scripts/cookiecode.js"></script>
        <script src="~/Scripts/locales/touch.js"></script>
        <script type="text/javascript">
        var tabnumber = 4;//分页tab数量
        var IndexLi = 0;

        var token;

        var images = {
            localId: [],
            serverId: []
        };
        $(function () {
            $.post('@Url.Action("WechatJsConfigJson","PhoneWeb")', { url: window.location.href }, function (data, status) {
                var debug = data.debug;
                var appId = data.appId;
                var timestamp = data.timestamp;
                var nonceStr = data.nonceStr;
                var signature = data.signature

                wx.config({
                    debug: debug,
                    appId: appId,
                    timestamp: timestamp,
                    nonceStr: nonceStr,
                    signature: signature,
                    jsApiList: [
                        'checkJsApi',
                    'onMenuShareTimeline',
                    'onMenuShareAppMessage',
                    'onMenuShareQQ',
                    'onMenuShareWeibo',
                    'hideMenuItems',
                    'showMenuItems',
                    'hideAllNonBaseMenuItem',
                    'showAllNonBaseMenuItem',
                    'translateVoice',
                    'startRecord',
                    'stopRecord',
                    'onRecordEnd',
                    'playVoice',
                    'pauseVoice',
                    'stopVoice',
                    'uploadVoice',
                    'downloadVoice',
                    'chooseImage',
                    'previewImage',
                    'uploadImage',
                    'downloadImage',
                    'getNetworkType',
                    'openLocation',
                    'getLocation',
                    'hideOptionMenu',
                    'showOptionMenu',
                    'closeWindow',
                    'scanQRCode',
                    'chooseWXPay',
                    'openProductSpecificView',
                    'addCard',
                    'chooseCard',
                    'openCard'
                    ]
                });
            })

            var indexli = GetQueryString('IndexLi');
            IndexLi = (indexli != '' && indexli != null) ? (window.localStorage['IndexLi'] == 0 ? indexli : window.localStorage['IndexLi']) : 0;
            TouchSlide({ slideCell: "#leftTabBox", defaultIndex: IndexLi });
            console.log(IndexLi)
            tab(IndexLi);
        })


        // 微信
        wx.error(function (res) {
            console.log('验证失败');
        });
        wx.ready(function () {
            // 5 图片接口
            // 5.1 拍照、本地选图
            var images = {
                localId: [],
                serverId: []
            };
            document.querySelector('#add-phoneimg').onclick = function () {
                wx.chooseImage({
                    success: function (res) {
                        images.localId = res.localIds;

                        if (images.localId.length == 0) {
                            alert('请先使用 chooseImage 接口选择图片');
                            return;
                        }
                        var i = 0, length = 0;
                        images.serverId = [];
                        function upload() {
                            wx.uploadImage({
                                localId: images.localId[i],
                                success: function (res) {
                                    i++;
                                    //alert('已上传：' + i + '张');
                                    images.serverId.push(res.serverId);
                                    $("#serviceid").val(res.serverId);
                                    //alert($("#serviceid").val())
                                    document.getElementById('add-phoneimg').src = res.localId;
                                },
                                fail: function (res) {
                                    alert(JSON.stringify(res));
                                }
                            });
                        }
                        upload();

                    }
                });
            };

        });

        $(document).on('click', '.imgyulan', function () {
            var imgurl = $(this).attr('src');
            //alert(imgurl)
            wx.previewImage({
                current: imgurl,
                urls: [
                 imgurl
                ]
            });
        })

        $('.hd li').click(function () {
            IndexLi = $(this).index();
            tab(IndexLi);

        })


        $(window).swipeLeft(function () {
            console.log(666)

            if (IndexLi < tabnumber - 1) {
                IndexLi++;
                //TouchSlide({ defaultIndex: IndexLi});
                tab(IndexLi);
            }

        })
        console.log('初始化'+IndexLi)
        function repairid(e) {
            window.localStorage['IndexLi'] = IndexLi;
            window.history.replaceState(null, null, '?IndexLi=0');
            window.location.href = '@Url.Action("RepairDetailsInterior", "PhoneWeb")?repairid=' + e + '&IndexLi=' + IndexLi;
        }

        $(window).swipeRight(function () {
            if (IndexLi > 0) {
                IndexLi--;
                tab(IndexLi)
                console.log('之前' + IndexLi);
                //TouchSlide({defaultIndex: IndexLi });
            }
        })
        

        function tab(enumber) {
            Lilength = $('.Padding').eq(enumber).find('li').length
            var windowHeight = $(window).height();
            LiHeight = 140;
            Height = (Lilength * LiHeight + 10) < (windowHeight - 50) ? (windowHeight - 50) : (Lilength * LiHeight + 10);
            //console.log(windowHeight - Height)
            //console.log(enumber)
            //if (windowHeight > Height) {
            //    console.log('高' + Height)
            //    console.log('window高' + windowHeight)
            //    console.log(Height - windowHeight)
            //    console.log('之后' + enumber);
                $('.tempWrap .bd').css({ 'height': Height + 'px', 'overflow': 'hidden' })
            //}
            
           
        }


        function GetQueryString(name) {
            var reg = new RegExp("(^|&)" + name + "=([^&]*)(&|$)");
            var r = window.location.search.substr(1).match(reg);
            if (r != null) return unescape(r[2]); return null;
        }

        
        //var Px = null, Py = null, Py = null, MPy = null, MPy = null, left = null, right = null, top = null, bottom = null, leftDown = null,rightDown=null,leftUp=null,rightUp=null;

        //document.addEventListener('touchstart', starthanlder);
        //document.addEventListener('touchmove', movehanlder);
        //function starthanlder(evt) {
        //    Px = evt.touches[0].pageX;
        //    Py = evt.touches[0].pageY;
        //    this.body.innerHTML = 'px:' + Px + 'py：' + Py
        //    console.log(this)
        //}
        //function movehanlder(evt) {
        //    console.log(1)
        //    MPx = evt.touches[0].pageX;
        //    MPy = evt.touches[0].pageY;
        //    left = Px - MPx > 50 ? 1 : left;
        //    right = Px - MPx > 50 ? right : 2;
        //    top = Py - MPy > 50 ? 3 : top;
        //    bottom = Py - MPy > 50 ? bottom : 4;
        //    leftDown = Px - MPx > 50 && Py - MPy > 50;
        //    //rightDown = 

        //    switch(n)
        //    {
        //        case 1:;
        //            break;

        //        case 2:;
        //            break;

        //        default:
        //    }
        //    this.body.innerHTML = 'px:' + Px + 'py:'+Py
        //}


        </script>

    }
