
@{
    ViewBag.Title = "供应商";
    Layout = "~/Views/Shared/_LayoutQiye.cshtml";
}
@section styles{
    <link href="~/Styles/rest.css" rel="stylesheet" />
    <link href="~/Styles/invite2.css" rel="stylesheet" />

}
<div class="inviteWrap">
    <div class="inviteUp">
        <img src="~/Images/gonying.png" alt="">
    </div>
    <div class="inviteDown">
            <div class="itme-box">
                <dl class="itme">
                    <dt>姓名<ins>*</ins></dt>
                    <dd>
                        <input type="text" placeholder="请输入您的姓名..." class="Name">
                    </dd>
                </dl>
            </div>
            <div class="itme">
                <h2 class="itme-Title">称谓<ins style="text-decoration: none; color:#f1514e;">*</ins></h2>
                <ul class="itme-select">
                    <li class="current">先生</li>
                    <li>女士</li>
                </ul>
            </div>
            <div class="itme-box">
                <dl class="itme">
                    <dt>手机<ins>*</ins></dt>
                    <dd>
                        <input type="text" placeholder="请输入您的手机号..." class="Mail">
                    </dd>
                </dl>
                <dl class="itme">
                    <dt>E-mail<ins>*</ins></dt>
                    <dd>
                        <input type="text" placeholder="请输入您的邮箱..." class="Tel">
                    </dd>
                </dl>

                <dl class="itme">
                    <dt>公司名称<ins>*</ins></dt>
                    <dd>
                        <input type="text" placeholder="请输入您的公司名..." class="Tel">
                    </dd>
                </dl>
                <dl class="itme" style="overflow:hidden">
                    <dt>公司证件<ins>*</ins></dt>
                    <dd>
                        <p>请上传有效期内的营业执照并加公章，个人合作者上传本人正反身份证图片。</p>
                        <div class="title-photo">
                            <textarea placeholder="请输入图片标题或描述" class="Corr"></textarea>
                            <ins class="add-photo"><img src="~/Images/xiangji.png" alt=""></ins>
                            <div class="photo">
                                <span>
                                    <img src="~/Images/logo.png" alt="">
                                </span>
                                <span>
                                    <img src="~/Images/logo.png" alt="">
                                </span><span>
                                    <img src="~/Images/logo.png" alt="">
                                </span><span>
                                    <img src="~/Images/logo.png" alt="">
                                </span><span>
                                    <img src="~/Images/logo.png" alt="">
                                </span><span>
                                    <img src="~/Images/logo.png" alt="">
                                </span><span>
                                    <img src="~/Images/logo.png" alt="">
                                </span>
                            </div>
                        </div>
                    </dd>
                </dl>
                <dl class="itme">
                    <dt>通讯地址<ins>*</ins></dt>
                    <dd>
                        @*<p>方便为您寄送资料</p>*@
                        <input type="text" placeholder="" class="Site">
                    </dd>
                </dl>
                <dl class="itme">
                    <dt>期望&建议:</dt>
                    <dd>
                        <textarea class="conmmit"></textarea>
                    </dd>
                </dl>
                <dl>
                    <dt style="text-align:center; color：#333; padding-top:20px;">长按扫码加关注</dt>
                    <dd style="text-align:center;"><img src="~/Images/commit.jpg" alt=""/ class="Aan"></dd>
                </dl>
                <dl>
                    <dd><span class="submit-btn">提交</span></dd>
                </dl>
            </div>
        </div>
</div>





@section scripts{
    <script src="~/Scripts/zepto.min.js"></script>
    <script type="text/javascript">
        $('.itme-select li').tap(function (e) {
            $(this).addClass('current').siblings().removeClass('current');

        })

        //  submit js
        var Fund, Jion, Name, Tel, Mail, Corr, Site, Behaif, Commit,ImgSrc = [];

        $('.submit-btn').tap(function () {
            //性别
            Fund = $('.itme-select li.current').text();
            //姓名
            Name = $('.Name').val();
            //手机号
            Tel = $('.Tel').val();
            //邮箱
            Mail = $('.Mail').val();
            //公司证件
            Corr = $('.Corr').val();
            //通讯地址
            Site = $('.Site').val();
            //期望
            Commit = $('.conmmit').val();

            //公司证件 图片路径
            ImgSrcLen = $('.photo').find('img');
            $.each(ImgSrcLen, function (i, item) {
                console.log(item)
                console.log(i)
                ImgSrc[i] = item.src
            })
            var Inputs = $('.itme dd').find('input');

            $.each(Inputs,function (i, item) {
                if (Inputs[i].value == '' || Inputs[i].value == null) {
                    document.body.scrollTop = item.offsetTop+40;
                    console.log( document.body.scrollTop = item.offsetTop)
                }
            })
            console.log(Fund)
            console.log(Jion)
            console.log(Name)
            console.log(Tel)
            console.log(Mail)
            console.log(Corr)
            console.log(Site)
            console.log(Behaif)
            console.log(Commit)
            console.log(ImgSrc)



        })
    </script>

}
